<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.upala.wong.mapper.image.ImageSpaceSettingMapper" >

    <!-- 查询所有的目录文件夹 -->
    <select id="queryDocumentFolder" resultType="com.upala.wong.entity.DocumentSpace" >
        SELECT id, `name`, `index`, `type`, create_time AS createTime, del_flag AS delFlag,
        del_flag_type AS delFlagType
        FROM document_space
        <where>
            <if test="delFlag != null" >
                del_flag = #{delFlag}
            </if>
        </where>
        LIMIT 0, 10
    </select>

    <!-- 获取数据总记录数 -->
    <select id="getTotal" resultType="Integer" >
        SELECT COUNT(*) FROM document_space
        <where>
            <if test="delFlag != null" >
                del_flag = #{delFlag}
            </if>
        </where>
    </select>

</mapper>
