<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>image</title>
    <!-- iconfont -->
    <link rel="stylesheet" href="/static/iconfont/iconfont.css">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- js -->
    <script type="text/javascript" src="/static/plugin/vue.js" ></script>
</head>
<body>
<div class="global" >
    <div class="container" id="container" >
        <p class="list" >
            <span class="font" >图片</span>
            <i class="iconfont icontupian icon" ></i>
        </p>
        <p class="list" >
            <span class="font" >文件</span>
            <i class="iconfont iconbuoumaotubiao25 icon" ></i>
        </p>
        <p class="list" >
            <span class="font" >视频</span>
            <i class="iconfont iconshipin icon" ></i>
        </p>
        <p class="list" >
            <span class="font" >更多</span>
            <i class="iconfont icongengduo icon" ></i>
        </p>
    </div>
</div>
<script type="text/javascript" src="/static/js/imageIndex.js" ></script>
</body>
</html>